# Git
.git
.gitignore
.gitattributes
.github

# Gradle
.gradle
build/
!build/libs/*.jar
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea
*.iml
*.iws
*.ipr
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local data
postgres_data/
localstack_data/

# Docker
Dockerfile
.dockerignore
docker-compose.yaml

# Documentation
README.md
*.md

# Kotlin
.kotlin

# Test
src/test/

# Misc
Makefile